
    
    {% extends "base.html" %}

    {% block title %}Home - GreenGroove{% endblock %}
    
    {% block content %}
    <div class="container-fluid">
      <h2 class="text-center mt-4">Your Booking History</h2>
      <div class="row">
        
        <!-- Example Event 1 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="static/img/hanny-naibaho-aWXVxy8BSzc-unsplash.jpg" class="card-img-top" alt="Electronic Beats Festival Image">
            <div class="card-body">
              <h5 class="card-title">Electronic Beats Festival</h5>
              <p class="card-text"><strong>Booking ID:</strong> #12345</p>
              <p class="card-text"><strong>Booked on:</strong> September 5, 2024 - 3:00 PM</p>
            </div>
          </div>
        </div>

        <!-- Example Event 2 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="static/img/jens-thekkeveettil-dBWvUqBoOU8-unsplash.jpg" class="card-img-top" alt="Jazz Nights Image">
            <div class="card-body">
              <h5 class="card-title">Jazz Nights</h5>
              <p class="card-text"><strong>Booking ID:</strong> #67890</p>
              <p class="card-text"><strong>Booked on:</strong> August 20, 2024 - 1:15 PM</p>
            </div>
          </div>
        </div>

        <!-- Example Event 3 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="static/img/martin-robles-EKpByvjvioU-unsplash.jpg" class="card-img-top" alt="Indie Vibes Image">
            <div class="card-body">
              <h5 class="card-title">Indie Vibes</h5>
              <p class="card-text"><strong>Booking ID:</strong> #54321</p>
              <p class="card-text"><strong>Booked on:</strong> July 10, 2024 - 5:30 PM</p>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    {% endblock %}